# testing:
ipython
pytest
pdbpp

# vyper and dev framework:
git+https://github.com/vyperlang/titanoboa@c1d741c26b34798ec1620859c7f3d8f42416e4be
vyper>=0.3.9
eth-ape==0.6.19
ape-etherscan==0.6.10
ape-hardhat==0.6.12
ape-alchemy==0.6.4
ape-vyper==0.6.10
python-dotenv==1.0.0

# prices api:
pycoingecko

# linting:
pre-commit
