# testing:
ipython
pytest
pdbpp

# vyper and dev framework:
git+https://github.com/vyperlang/titanoboa
eth-ape>=0.6.8
git+https://github.com/vyperlang/vyper.git@b3c7efa38eef63d9d979ad663a9ecfd77e343987

# prices api:
pycoingecko

# linting:
pre-commit
