# linting:
black
flake8
isort
mamushi
pip-tools
pre-commit

# testing:
eip712
eth_account
ipython
hypothesis
pytest
pytest-xdist
pytest-forked
pytest-repeat
pdbpp
hypothesis>=6.68.1

# vyper and dev framework:
git+https://github.com/vyperlang/titanoboa.git@21aac4896fa5e465bac861606b1ef6103caf04cd
git+https://github.com/vyperlang/vyper.git@11a78eb5bb80e6ea8e65139845ec1bac34f62456
