# linting:
black
flake8
isort
mamushi
pip-tools
pre-commit

# testing:
eip712
eth_account
ipython
hypothesis
pytest
pytest-xdist
pytest-check
pytest-forked
pytest-logging
pdbpp

# vyper and dev framework:
git+https://github.com/bout3fiddy/titanoboa@9d276d431998b61be9582b29cbeaa77dda0487c9
vyper==0.3.7
