# testing:
ipython
pytest
pdbpp

# vyper and dev framework:
git+https://github.com/vyperlang/titanoboa
eth-ape>=0.6.9
git+https://github.com/vyperlang/vyper.git@5c2892b2b4f6cdbc039b0f70ecd0e7058fed521c

# prices api:
pycoingecko

# linting:
pre-commit
